@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Rosario";
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 23px;
  color: #9F9F9F;
  background: #FCFCFC,
}
